.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 1rem;
  padding: 0 20px;
  margin-top: 60px;
}

.Lojas_clinicas {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.Lojas_clinicas-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 100px; /* Espaçamento entre os itens */
}

.Lojas_clinicas-item {
  flex: 0 0 calc(33.33% - 10px); /* Exibe 3 itens por vez */
  box-sizing: border-box;
  padding: 25px; /* Adiciona um padding para espaçamento dentro de cada item */
}

.carrossel-container button {
  background-color: transparent;
  color: green;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease;
}

.carrossel-container button:hover {
  transform: scale(1.2);
}

.carrossel-container button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
