.word1{
  color: #0A8384;
}

.word2{
color: #F9742B;
}

.main{
  display: flex;
  justify-content: space-between;
}

.animal_foto img{
  width: 450px;
}
h1{
 font-size: 53px;
 margin-left: 80px;
 margin-bottom: 150px;
 padding-top: 50px;
}

.animal_foto img{
 width: 750px;
}