* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

.menu-bar {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: rgb(249, 116, 43);
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-icon i {
  color: rgb(249, 116, 43);
  margin-right: 5px;
}

.user-icon p {
  color: rgb(119, 117, 117);
}

.buttons i {
  color: rgb(249, 116, 43);
  font-size: 20px;
}
